JWT_SECRET=qRCYMDT5GIVNTUtmVFbc1C0VxYRhQEwsNPkGugZisB8bSNKEiJbOmjIIPAuhq6AMG1K1l39yV0k8sAt4gDXVw52CShb6OOlOq6O1inTqoETmsHP4UXuara08e5EQuqa2li1wRsr3GqxpbixOGsIFKo2hdiuvoy5M15CACbyw7TxKSdR8EwpAu0nvDmn3NvtCGppWjh2Z
JWT_CLIENT_MACAPA=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnQiOiJtYWNhcMOhIiwiaWF0IjoxNjU0MzE1MjA1fQ.fkDZhqvwP36z1-NujXfzyTr_EbEaZOmhC2ICy_lQh1Y
JWT_CLIENT_VAREJAO=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnQiOiJ2YXJlasOjbyIsImlhdCI6MTY1NDMxNTMyMn0.keigUB1vbQJOWeFlbcUFYvaU87GBi3Gdp4025cJ7nI4